:root{
  /* fonts */
  --logo-font: Raleway, sans-serif;
  --main-font: Roboto, sans-serif;
  /* colors */
  --main-bgc: #fff;
  --main-color-navy-blue:#2E2F42;
  --primary-brand-iris:#4D5AE5;
  --pressed-state-ocean:#404BBF;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-dairy: #fcfcfc;
  /* others */
  --modal-width: 408px;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body{
  background-color: var(--main-bgc);
  font-family: var(--main-font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
/****************** reset ********************/
ul,ol{
  padding:0;
  margin:0;
  list-style:none;
}
h1,h2,h3,p{
  margin:0;
  margin-bottom: 0;
}
img{
  display:block;
  max-width:100%;
}
button{
  cursor: pointer;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*********************** 
                  STUDiO 
***********************/
.container{ 
  /* mobile */
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px; 
  }
}

.section{
  padding-top: 96px;
  padding-bottom: 96px;  
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px; 
  }
}

/************ LOGO ***********/
.logo{
  font-family: var(--logo-font);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:var(--primary-brand-iris);
}
/* tablet */
@media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .logo{
    margin-right: 76px;
  }
}

.header-logo {
  color: var(--main-color-navy-blue);
}

.footer-logo{
  color: var(--color-cloud);
}


/********** HEADER **********/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;  
}

.header {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%; 
  height: 70px;
  background-color: var(--main-bgc);
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .header {
    height: 72px;
  }
}

.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle.js-close-menu{
  justify-content: center;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
.menu-toggle svg{
  stroke: #2E2F42;
}

.page-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color-navy-blue);
}

.menu{
  display: none;
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }
}

.menu-link{
  position: relative;
  color: var(--main-color-navy-blue);
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func);
}

.menu-link, .contact-item, .logo{
  padding-top: 24px;
  padding-bottom: 24px;
}
/* tablet */
@media only screen and (max-width: 1157px) {
  .contact-item {
    padding:6px 0;
  }
}

.menu-link::after{
  content: " ";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom:-2px;
  border-radius: 4px;    
}

.menu-link.current{
  color: var(--pressed-state-ocean);
}

.menu-link.current::after,
.menu-link:hover::after,
.menu-link:focus::after{
  background-color: var(--pressed-state-ocean);
}

.menu-link:hover,
.menu-link:focus{
  color:var(--pressed-state-ocean);
}

.address{
  display: none;
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .address {
    display: flex;
    font-style: normal;
  }
}

.contact{
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: flex-end;
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .contact {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .contact {
    gap: 40px;
    flex-direction: row;
    align-items: flex-end;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contact-item{  
  font-weight: 400;
  color: var(--color-slate);
  transition: color var(--transition-dur-and-func);
}

.contact-item:hover,
.contact-item:focus{
  color: var(--pressed-state-ocean);
}


/***************** HERO ***************/
.main-title{
  max-width: 320px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--main-bgc);
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

.hero{
  box-sizing: border-box;
  margin: auto;
  margin-top: 70px;
  padding: 112px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/header/header-main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-color-navy-blue);   
/*   
  max-width: 1440px;
  background-size: cover;*/  
}
/* tablet */
@media only screen and (min-width: 768px) {
  .hero {
    margin-top: 72px;
    padding-top: 40px;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}


.hero-box{
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .hero-box {
    gap:36px;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .hero-box {
    gap: 48px;
  }
}


.btn-hero{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 169px;
  padding: 16px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;  
  color: var(--main-bgc);
  background:var(--primary-brand-iris);
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-dur-and-func);  
}

.btn-hero:hover,
.btn-hero:focus{
  background: var(--pressed-state-ocean);
}


/****************** BENEFITS ********************/
.benefits-list{
  display: flex;
  flex-direction:column;  
  gap: 72px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-flow: wrap;
    gap: 72px 24px ;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .benefits-list {
    flex-direction: row;
    flex-flow: nowrap;
    gap:24px;
  }
}

.benefits-list-item{
  display: flex;
  flex-direction: column;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .benefits-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .benefits-list-item {
  flex-basis: calc((100% - 72px) / 4);
  }
}

.benefits-icon{
  display: none;
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .benefits-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
    border-radius: 4px;
  }
}

.subtitle{
  margin-bottom: 8px;  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;  
  color: var(--main-color-navy-blue);
}
/* tablet */
@media only screen and (min-width: 768px) {
  .subtitle {
    text-align: left;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.text{
  font-weight: 500;   
  color: var(--color-slate);
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}


/************************** WHAT ARE WE DOING *********************/
.what-we-are-doing{
  /* mobile */
  display: none;
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .what-we-are-doing {
    display: block;
    padding-bottom: 120px;
  }
}

.gallery{
  display: flex;
  gap: 24px;
}

.gallery-item{
  flex-basis: calc((100% - 48px) / 3);
}


/**************************** OUR TEAM ***********************/
.our-team{
  background: var(--color-cloud);
}

.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--main-color-navy-blue);
  text-transform: capitalize;
  text-align: center;  
}

.cards-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .cards-list {      
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    justify-content: center;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .cards-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-card{ 
  background: var(--main-bgc);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* tablet */
@media only screen and (min-width: 768px) {
  .team-card {
    /* не працює */
    /* flex-basis: calc((100% - 24px) / 2); */
    width: 264px;    
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .team-card {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-member{
  padding: 32px 16px;
}

.team-member-subtitle{
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;  
  text-align: center;
  color: var(--main-color-navy-blue);
}

.team-member-position{
  margin-bottom: 8px;
  font-weight: 400;
  text-align: center;  
}

.socials{
  display: flex;
  justify-content: center;
  gap: 24px;  
}

.social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  fill: var(--color-cloud);
  background: var(--primary-brand-iris);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}

.social-link:hover,
.social-link:focus{
  background: var(--pressed-state-ocean);
}
.soc-link-footer:hover,
.soc-link-footer:focus{
  background: var(--color-green);
}


/********************** CUSTOMERS *************************/
.customers-companies-list{
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}
/* tablet */
@media only screen and (min-width: 768px) {
  .customers-companies-list {
    gap: 72px 24px;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .customers-companies-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.customers-company-item{
  flex-basis: calc((100% - 16px) / 2);
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .customers-company-item {
    flex-basis: 168px;
  }
}

.customers-companies-link{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  color: var(--color-light-slate);
  border: 1px solid var(--color-light-slate);
  border-radius: 4px;
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.customers-companies-link:hover,
.customers-companies-link:focus{
  border-color: var(--pressed-state-ocean);
  color: var(--pressed-state-ocean);
}

.companies-logo-svg{
  fill: currentColor;
}


/******************* FOOTER *********************/
.footer{
  padding: 100px 0;
  background: var(--main-color-navy-blue);
}

.footer-box{
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;  
}
/* tablet */
@media only screen and (min-width: 768px) {
  .footer-box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 72px 24px;
    padding-left: 92px ;
    margin:auto ;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .footer-box {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center; 
    padding-left: 15px; 
    margin:auto;
  }
}

/* .footer-msg-wrap
desktop */
@media only screen and (min-width: 1158px) {
  .footer-msg-wrap {
    margin-right: 120px;
  }
}

.logo-footer {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0 0 16px 0;
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .logo-footer {
    text-align: left;
  }
}

.footer-msg {
  padding: 0 65px;  
  color: var(--color-cloud);
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .footer-msg {
    padding: 0;
    width: 264px;
  }
}


.title-socials-footer{
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-bgc); 
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .title-socials-footer {
    text-align: left;
  }
}

.socials-footer{
  gap: 16px;
}

.subscribe-wrap{  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;  
}
/* tablet */
@media only screen and (min-width: 768px) {
  .subscribe-wrap {
  flex-direction: row;
  align-items: flex-end;
  }
}
/* desktop */
@media only screen and (min-width: 1158px) {
  .subscribe-wrap {    
    margin-left: 80px;
    gap: 24px;    
  }
}


.subscribe-wrap span{
  display: block ;
}

.subscribe-input{
  width: 288px;  
  height: 40px;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media only screen and (min-width: 428px) {
  .subscribe-input {
    width: 398px;
  }
}
/* tablet+desktop */
@media only screen and (min-width: 768px) {
  .subscribe-input {
    width: 264px;
  }
}

.subscribe-input::placeholder{
  color: #fff;
}

.subscribe-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em; 
  color: var(--main-bgc);
  background: var(--primary-brand-iris);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: var(--pressed-state-ocean);
}

.subscribe-btn-svg{
  fill: #fff;
}



/**************************** 
                  MOBILE MENU 
************************** */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; 
  gap: 48px;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--main-bgc);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media only screen and (min-width: 428px) {
  .menu-container {
    padding-top: 80px;
    padding-left:40px;
    padding-bottom: 40px;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  min-height: 24px;
  min-width: 24px;
  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu {
  margin-bottom: auto;
}


.mobile-menu-item{
  display: block;
  margin-bottom: 40px;
  color: var(--main-color-navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.mobile-menu-contacts-tel a{
  display: block;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.11;
  color: var(--primary-brand-iris);
}
/**/
@media only screen and (min-width: 428px) {
  .mobile-menu-contacts-tel a {
    font-size: 36px;
  }
}

.mobile-menu-contacts-mail a{
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-slate);
}

.mobile-socials{
  justify-content: flex-start;
}
/**/
@media only screen and (min-width: 428px) {
  .mobile-socials {    
    gap: 56px;
  }
}



/********************** 
                  MODAL
---*******************/
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal{
  transform: translate(-50%, -50%) rotate(360deg) scale(0.1);  
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--modal-width);
  height: auto;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  padding: 24px;
  padding-top: 72px;  

  background: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 350ms cubic-bezier(.1, 1.02, .73, .59);
}
.modal-svg{
  transition: fill var(--transition-dur-and-func);
}
.modal-svg:hover,
.modal-svg:focus{
  fill: var(--main-bgc);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;  
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
  background-color: var(--pressed-state-ocean);
  fill: var(--main-bgc);
  border: none;
}

.modal-form{
  display: flex;
  flex-direction: column;
}
.modal-form-header{
  margin-bottom: 16px;
  line-height: 1.5;  
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color-navy-blue);
}
.modal-form-position{
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
}
.modal-form-input-descr{ 
  display: block;
  margin-bottom: 4px; 
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:var(--color-light-slate);
}
.modal-form-input{
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.modal-form-input:hover,
.modal-form-input:focus{
  border: 1px solid var(--primary-brand-iris);
  outline: none;
  transition: border var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-form-svg{
  outline: none;
  fill: var(--primary-brand-iris);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input-wrap{
  display: block;
  position: relative;
}
.modal-form-svg{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: var(--main-color-navy-blue);
}
.modal-form-comment{
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  overflow: auto;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;  
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
}
.modal-form-comment::placeholder{
  color: rgba(46, 47, 66, 0.4); 
}
.modal-form-comment:focus{
  border: 1px solid var(--primary-brand-iris);
  outline: none;
  transition: border var(--transition-dur-and-func);
}
.modal-form-policy-confirm::before{
  content: "";
  cursor: pointer;
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}
.modal-form-user-policy:checked + .modal-form-policy-confirm::before{
  background-color: var(--pressed-state-ocean);
  background-image: url(../images/icons/checked.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid var(--pressed-state-ocean);
}
.modal-form-user-policy:focus + .modal-form-policy-confirm::before {
  outline: 1px solid var(--primary-brand-iris);
}
.modal-form-policy-confirm{
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  padding-bottom: 0;
  margin-top: 8px;
  margin-bottom: 24px;
}
.modal-form-policy-confirm a{
  color: var(--primary-brand-iris);
  line-height: 1.33;
}
.btn-modal{
  align-self: center;
}







/****************************
                    PORTFOLIO
*****************************/
.section-portfolio{
  margin-top: 72px;
  padding: 96px 0 120px;
}
.filter{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-btn{
  padding: 12px 24px;
  text-align: center;

  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: var(--primary-brand-iris);
  background: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  transition: background-color, var(--transition-dur-and-func),
    color var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func),
    border var(--transition-dur-and-func);
}
.filter-btn:hover,
.filter-btn:focus{
  color: var(--main-bgc);
  background: var(--pressed-state-ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.projects-box {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.project-card{
  flex-basis: calc((100% - 48px) / 3);
  background: var(--main-bgc);
  transition: border var(--transition-dur-and-func),
    box-shadow var(--transition-dur-and-func);
}

.project-link:hover .prj-overlay,
.project-link:focus .prj-overlay{
  transform: translate(0, 0);
}


.project-link{
  display: block;
}
.project-link:hover,
.project-link:focus{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prj-crd-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-navy-blue);
}
.prj-crd-description{
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}
.prj-crd-description{
  border: 1px solid var(--color-cloud);
  border-top: none;
}

.prj-img-wrapper{
  position: relative;
  overflow: hidden;
}
.prj-overlay{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  padding: 40px 32px;
  overflow: auto;

  font-weight: 400;
  color: var(--color-cloud);
  background-color: var(--primary-brand-iris);
  transition: transform var(--transition-dur-and-func);
}


